body{
  margin:0;
}


header{
  width: 100%;
  height: 100vh;
  background: url("../images/HeaderBackground1920x1280.jpg");
}



.content-header {
  padding-top: 10px;
}

#logo{
  margin:0;
  float: left;
  padding-left: 5%;
  color:#F33E57;
}

.content-header ul  {
  float:right;
  padding-right: 5%;
}

.content-header ul li {
  float: left;
  padding-right: 50px;
  list-style: none;
}


.content-header ul li a{
  color:white;
  text-decoration: none;
}


.introduction {
  padding: 10% 25%;
  color:white;
}

.introduction h1 {
  clear: both;
  text-align: center;
  font-size: 45px;
  line-height: 45px;
}

.introduction h5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px
}

main {
  padding: 10px;
}

main > h1 {
  text-align: center;
  color: black;
  font-size:40px;
  margin-top: 40px;
}


main .part-services{
  float: left;
  width:25%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}


.services-content  p{
  text-align: justify;
}


@media only screen and (min-width:550px) and (max-width:950px){
main .part-services{
  width: 50%;
}

}
